@font-face {
    font-family: Oswald-medium;
    src: url(./font/Oswald-Medium.ttf)
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.favorite {
    font-weight: bolder;
}


.active {
    background-color: black;
    color: white;
}

.navbar {
    background-color: white;
    color: black;
}

#navBrand {
    color: black;
}

#navbar-separator {
    margin: 0px;
    height: 10px;
    font-weight: bolder;
}

#left-sidebar {
    height: 100vh;
    
}

#filter-list {
    margin-top: 1em;
    margin-left: 1em;
    height: auto;
}
.fixed-right-bottom#button {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 100%;
    background-color: black;
    color: white;
    border-color: white;
}

small.watch-date {
    text-align: right;
}