.favorite {
    color: lightcoral;
}

#active {
    background-color: mediumspringgreen;
}

.navbar {
    background-color: lavender;
    color: mediumspringgreen;
}

.separator {
    color: grey;
}

#left-sidebar {
    background-color: rgb(245, 245, 255);
    height: 50em;
}

#filter-list {
    margin-top: 1em;
    margin-left: 1em;
    height: auto;
}
/* 
#add-button {
    position: static;
    bottom: 10em;
    right: 7em;
    color: springgreen;
    background-color: lavender;
    
} */

